{% extends '../../base.html' %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Password reset</h1>
    </div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    Enter your email address and we will email
                    instructions for setting a new one.
                </h3>
            </div>
            <br>
            {{ form.as_p }}
            <button class="btn btn-default">Reset password</button>
            <br>
            <br>
        </div>
        <br>
    </form>
{% endblock content %}