{% extends '../../base.html' %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Password reset</h1>
    </div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    Enter your email address to receive a confirmation link.
                </h3>
            </div>
            <br>
            <div class="email-reset-form">
                {{ form.as_p }}
            </div>
            <button class="btn btn-primary">Reset password</button>
            <br>
            <br>
        </div>
        <br>
    </form>
{% endblock content %}
