{% extends '../../base.html' %}
{% load static %}
{% block content %}
    Password reset
    <div class="page-header"></div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</h3>
            </div>
            <br>
            {{ form.as_p }}
            <button class="btn btn-default">Reset my password</button>
            <br>
            <br>
        </div>
        <br>
    </form>
{% endblock content %}