{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div class="left-align-div">
        <p>
            ViroCon helps you design marine structures, which need to withstand
            load combinations based on wave, wind and current. It lets you
            identify extreme environmental conditions with a defined return
            period using the environmental contour method.
        </p>
        <p>
            Two specific environmental contour methods are available: The
            highest density contour (HDC) method [1] and the inverse first order
            reliability method (IFORM) [2]. The environment can be described
            with a probability density function based on the
            conditional modeling approach (CMA) [3]. ViroCon's methods align
            with current recommended practices dealing with environmental
            conditions and environmental loads [3].
        </p>
        <p>
            <strong>Open.</strong>
            ViroCon is an open-source software under the permissive MIT license.
            Check out our
            <a href="https://github.com/ahaselsteiner/viroconweb"
               class="textlink">
                GitHub repository
            </a>.
        </p>
        <p>
            <strong>Cite.</strong>
            If you are using ViroCon in your academic work, please cite
            ViroCon as:
            A.F. Haselsteiner, J. Lehmkuhl, T. Pape, K.-L. Windmeier, K.-D.
            Thoben (2018): ViroCon: A software to compute multivariate extremes
            for structural integrity calculations.
        </p>
        <p>
            <strong>Contact.</strong>
            We are happy to receive feedback or answer any question. Send us
            an
            <a href="mailto:virocon@unibremen.de" class="textlink">
                email
            </a>.
        </p>
    </div>
        <div class="page-header">
                    <h1>Team</h1>
        </div>
    <div class="left-align-div">
        <p>
            We develop ViroCon at University of Bremen's Institute for
            Integrated Product Development (BIK).
        </p>
        <div align="center" style="margin-bottom: 12pt">
            <a href="http://www.uni-bremen.de">
                <img class="img-responsive"
                     src="{% static 'images/Uni-Logo_Web_RGB.png' %}"
                     height="50" style="max-height:50px">
            </a>
            <a href="http://www.bik.uni-bremen.de/">
                <img class="img-responsive"
                     src="{% static 'images/bik-logo_2013_ohne_text.png' %}"
                     height="80"
                     style="max-height:80px">
            </a>
        </div>
        <h2>Current members</h2>
        <div class="clearfix">
            <div class="thump-img-container">
                <img src="{% static 'images/533w_Andreas_square.png' %}"
                     class="thumb-img img-rounded float-left">
                Andreas Haselsteiner
            </div>
            <div class="thump-img-container">
                <img src="{% static 'images/JannikLehmkuhlSquare.jpg' %}"
                     class="thumb-img img-rounded float-left">
                Jannik Lehmkuhl
            </div>
            <div class="thump-img-container">
                <img src="{% static 'images/TobiasPape.jpg' %}"
                     class="thumb-img img-rounded float-left">
                Tobias Pape
            </div>
            <div class="thump-img-container">
                <img src="{% static 'images/KaiWindmeier.jpg' %}"
                     class="thumb-img img-rounded float-left">
                Kai-Lukas Windmeier
            </div>
        </div>
        <h2>Previous members</h2>
        <p>
            Development was started in 2016 as a student project
            (Systems Engineering BSc). The students were Niklas Bergmann,
            Christian Castens, Martin Lechner, Jannik Lehmkuhl, Tjark Meyer,
            Felix Möller, Tobias Pape, Erik Rother and Kai-Lukas Windmeier.
            Andreas Haselsteiner and Prof. Klaus-Dieter Thoben supervised
            the project.
        </p>
        <div align="center">
            <img src="{% static 'images/ViroConGruppe.png' %}"
                 alt="ViroCon Team 2016/17" class="img-responsive">
            <p>
                The ViroCon team 2016/17. From left to right: Erik Rother,
                Andreas Haselsteiner, Martin Lechner, Tobias Pape,
                Niklas Bergmann, Kai-Lukas Windmeier, Felix Möller, Christian
                Castens and Tjark Meyer. Missing on the picture: Jannik
                Lehmkuhl.
            </p>
        </div>
        <div align="left">
            <h2>References</h2>
            <p>
                <a href="https://doi.org/10.1016/j.coastaleng.2017.03.002"
                   class="textlink">
                    [1] A.F. Haselsteiner, J.-H. Ohlendorf, W. Wosniok, K.-D.
                    Thoben (2017): Deriving environmental contours
                    from highest density regions, Coastal Engineering 123, 42-51.
                </a>
                <br>
                [2] S. Winterstein, T. Ude, C. Cornell, P. Bjerager, S. Haver
                (1993): Environmental parameters for extreme
                response: inverse FORM with omission factors, in: Proceedings,
                ICOSSAR-93. Innsbruck, Austria, 1993.
                <br>
                <a href="https://rules.dnvgl.com/docs/pdf/dnv/codes/docs/2010-10/rp-c205.pdf"
                   class="textlink">
                    [3] Det Norske Veritas (2010): Recommended practice -
                    DNV-RP-C205 Environmental conditions and
                    environmental loads. Technical report.
                </a>
            </p>
        </div>
{% endblock content %}