{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Help</h1>
    </div>
    <h2>Fitting</h2>
    <h2>Probabilistic model</h2>
    In ViroCon's context a probabilistic model represents a probabilistic
    description of the environment. It describes the long-term statistics of the
    environment with a multivariate distribution.
    <h3>Conditonal modeling approach</h3>
    The conditonal modeling aproach was introduced by
    <h2>Environmental contour</h2>
    <h3>Inverse first order reliability method (IFORM)</h3>
    <h3>Highest density contour (HDC) </h3>
    <p>
        Still questions? <a href="mailto:virocon@unibremen.de" class="textlink">Contact us</a>
    </p>
    <h2>Developers</h2>
    <p>
        The documentation can be found <a href="https://ahaselsteiner.github.io/virocon/" class="textlink">here.</a>
    </p>
    <p>
        Our repository can be found <a href="https://github.com/ahaselsteiner/virocon" class="textlink">here.</a>
    </p>
{% endblock content %}