{% extends "../base.html"%}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Legal Notice</h1>
    </div>
    <div class = left-align-div>
        <h2>Address</h2>
        Universität Bremen
        <br />
        Bibliothekstraße 1
        <br />
        28359 Bremen
        <br />
        Germany
        <h2>Legal Form</h2>
        The University of Bremen is a corporation under public law,
        officially represented by its President Prof. Dr.-Ing. Bernd Scholz-Reiter.
        <br />
        The responsible supervisory authority is Bremen’s Senator for Science,
        Health and Consumer Protection, Rembertiring 8 – 12, 28195 Bremen.
        <h2>German VAT ID</h2>
        DE 811 245 070 (pursuant § 27 a UStG)
        <h2>Contact</h2>
        Andreas Haselsteiner
        <br />
        a.haselsteiner@uni-bremen.de
        <br />
        +49 421 218-64878
        <br />
        Institut für integrierte Produktentwicklung (BIK)
        <br />
        Universität Bremen
        <br />
        Badgasteiner Straße 1
        <br />
        D-28359 Bremen
    </div>
{% endblock content %}
