{% extends "../base.html"%}
{% load static %}
{% block content %}
    <div class = left-align-div>
        <div class="page-header">
            <h1> Impressum</h1>
        </div>
        <br>

        Anbieter dieser Internet-Seite ist im Rechtssinn<br />
        das </b>
        <a href='http://www.bik.uni-bremen.de//' rel="nofollow">
            <b>Institut für integrierte Produktentwicklung (BIK)</b>
        </a>
        <br />
        der
        <a href='http://www.uni-bremen.de/' rel="nofollow">
            <b>Universität Bremen</b>
        </a>
        vertreten durch:
        <br />
        <br />
        Andreas Haselsteiner<br />
        <a href="mailto:a.haselsteiner@uni-bremen.de">
            a.haselsteiner@uni-bremen.de
        </a>
        <br />
        <br />
        Die Universität Bremen ist eine Körperschaft des Öffentlichen Rechts.
        <br />
        Sie wird durch den Rektor Prof. Dr.-Ing. Bernd Scholz-Reiter
        gesetzlich vertreten.
        <br />
        <br />
        Zuständige Aufsichtsbehörde ist die Senatorin für Bildung und
        Wissenschaft,
        <br />
        Rembertiring 8 – 12, 28195 Bremen. UmsatzsteuerIdentifikationsnummer
        gemäß § 27 a UStG
        <br />
        Umsatzsteuer-Nr.: DE 811 245 070
        <br />
        <br />
        <h2>Postanschrift</h2>
        BIK Institut für integrierte Produktentwicklung
        <br />
        Badgasteinerstr. 1
        <br />
        28359 Bremen
        <br />
        <a href="mailto:virocon@uni-bremen.de">
            virocon@uni-bremen.de
        </a>
        <br />
        <br/>
        <h2>Haftungsausschluss</h2>
        Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
        für die Inhalte externer Links.
        <br/>
        Für den Inhalt der verlinkten Seiten sind ausschließlich
        deren Betreiber verantwortlich.
        <div id="AGB" class="page-header">
            <h1>Allgemeine Geschäftsbedingungen von ViroCon</h1>
            <h2>1. Geltungsbereich</h2>
            Die allgemeinen Geschäftsbedingungen regeln die Rechtsbeziehungen
            zwischen dem nicht-kommzerziellen universitären Projekt ViroCon
            (im folgenden „ViroCon“) und den Einzelnutzern,
            Firmen- und Gruppennutzern
            (im folgenden einheitlich „Nutzern“).
            Für Rechtsgeschäfte zwischen
            ViroCon und Nutzern gelten ausschließlich die nachfolgenden
            Allgemeinen Geschäftsbedingungen in ihrer jeweils aktuellen Fassung.
            Abweichende Bedingungen erkennt ViroCon nicht an, es sei denn sie
            stimmt ihrer Geltung ausdrücklich zu.
            <h2>2. Haftung und Schadensersatz</h2>
            <p>
                (1) ViroCon ist ein nicht-kommerzielles universitäres Projekt.
                ViroCon bietet Nutzern unentgeltlich Berechnungsverfahren an.
                Die Berechnungsverfahren sind nicht zertifiziert und können
                fehlerhaft sein. ViroCon übernimmt keinerlei Garantien für seine
                Dienstleistungen, die zugrundeliegende Software und die mit ViroCon
                errechneten Ergebnisse. Dies inkludiert explizit,
                dass ViroCon nicht die korrekte Funktionalität seiner
                Software garantiert.
            </p>
            <p>
                (2) ViroCon übernimmt keinerlei Haftung für Sach- und
                Körperschäden jeglicher Art, sofern ViroCon, ihr gesetzlicher
                Vertreter oder ihr Erfüllungsgehilfe nicht vorsätzlich oder
                grob fahrlässig gehandelt hat.
            </p>
            <p>
                (3) Schadensersatzansprüche des Nutzers aus positiver
                Forderungsverletzung, aus Verschulden bei Vertragsschluss und
                unerlaubter Handlung sind ausgeschlossen, soweit ViroCon ihr
                gesetzlicher Vertreter oder ihr Erfüllungsgehilfe nicht
                vorsätzlich oder grob fahrlässig gehandelt hat und keine
                vertragswesentlichen Pflichten verletzt worden sind.
            </p>
            <p>
                (4) Schadensersatzansprüche aus Unmöglichkeit der Leistung und
                Verzug sowie wegen Verletzung vertragswesentlicher Pflichten sind
                bei leichter Fahrlässigkeit auf den Ersatz des vorhersehbaren
                Schadens beschränkt.
            </p>
        </div>
        <div id="data-protection" class="page-header">
            <h1>Hinweis zum Datenschutz und zur Verbraucherstreitbeilegung</h1>
            <p>
                Wir respektieren den
                Datenschutz und informieren Sie über unseren Umgang mit erhobenen
                Daten. ViroCon ist ein nicht-kommerzielles universitäres Projekt
                und der Programmcode ist quelloffen (
                <a href="https://github.com/ahaselsteiner/virocon" class="textlink">
                    https://github.com/ahaselsteiner/virocon
                </a>
                   ).
                ViroCon sammelt Daten für wissenschaftliche Zwecke und um das Nutzer-
                verhalten zu analyiseren.
            </p>
            <p>
                ViroCon richtet sich beim Datenschutz nach den Richtlinien
                der Universität Bremen (
                <a href="https://github.com/ahaselsteiner/virocon" class="textlink">
                    https://www.uni-bremen.de/datenschutz.html
                </a>
                   ).
            </p>
        </div>
    </div>
{% endblock content %}