{% extends "../base.html"%}
{% load static %}
{% block content %}
<p class="bg-danger">
    Sorry, only in German.
    Since ViroCon's services are provided by the
    University of Bremen, which is a German corporation under public law,
    the Terms of Use and Privacy Policy are available only in German.
</p>
        <div id="terms" class="page-header">
            <h1>ViroCon Nutzungsbedingungen</h1>
        </div>
        <div class = left-align-div>
            <p>
                <small>Letzte Änderung: 3. Juni 2018</small>
            </p>
            <p>
                Zur Bereitstellung unserer Dienste (Definition weiter unten) über
                unsere Software oder Webseite benötigen
                wir Ihre ausdrückliche Zustimmung zu unseren Nutzungsbedingungen
                („Bedingungen“). Sie stimmen unseren Bedingungen zu, indem Sie
                sich registrieren oder unsere Software oder
                Webseite installieren, nutzen oder auf diese zugreifen.
                Jede natürliche oder juristische Person, die unsere Dienste
                oder Websieite installiert, nutzt oder auf diese zugreift ist
                ein Nutzer ("Nutzer", "Sie").

            </p>
            <h2>1. Unsere Dienste</h2>
            <p>
                (1) Die Universität Bremen, Bibliothekstraße 1, 28359 Bremen,
                Deutschland stellt die Dienste bereit, die auf der Webseite
                www.viroconweb.com ("Webseite") verfügbar sind.
            </p>
            <p>
                (2) ViroCon ist ein universitäres Projekt. Die Webseite basiert
                auf den quelloffenen Softwarepaketen "viroconweb"
                (
                <a href="https://github.com/ahaselsteiner/viroconweb">
                    https://github.com/ahaselsteiner/viroconweb
                </a>
                )
                und "viroconcom" (
                <a href="https://github.com/ahaselsteiner/viroconcom">
                    https://github.com/ahaselsteiner/viroconcom
                </a>
                ).
                Über die Webseite können Nutzer statistische Methoden anwenden.
                Insbesondere werden Methoden zur Schätzung und Definition von
                statistischen Verteilungen und zur Berechnung
                von multivariaten Extremwerten bereitgestellt.
                Solche Extremwertberechnungen sind z.B. im Entwicklungsprozess von
                marinen Strukturen nötig, um Extremlasten, die sich aus mehreren
                Umweltphänomänen zusammensetzen, zu definieren.

            </p>
            <h2>2. Zulässige Nutzung unserer Dienste</h2>
            <p>
                (1) Sie müssen unsere Dienste im Einklang mit unseren Bedingungen
                und Richtlinien nutzen. Wenn Sie gegen unsere Bedingungen oder
                Richtlinien verstoßen, können wir Maßnahmen bezüglich Ihres Accounts
                ergreifen, einschließlich der Löschung oder Deaktivierung Ihres
                Accounts. Wenn wir dies tun, dürfen Sie ohne unsere Erlaubnis
                keinen anderen Account erstellen.
            </p>
            <p>
                (2) Sie sind für den Erhalt der Sicherheit Ihres ViroCon-Accounts
                verantwortlich und haben uns unverzüglich von jeder unberechtigten
                Nutzung bzw. jedem Sicherheitsverstoß bezügliches Ihres Accounts
                oder unserer Dienste in Kenntnis zu setzen.
            </p>
            <h2>3. Haftung und Schadensersatz</h2>
            <p>
                (1) Unsere Dienste sind  nicht zertifiziert und können
                fehlerhaft sein. Wir übernehmen keinerlei Garantien für unsere
                Dienste, die zugrundeliegende Software und die mit unseren
                Diensten errechneten Ergebnissen.
            </p>
            <p>
                (2) Wir übernehmen keinerlei Haftung für Sach- und
                Körperschäden jeglicher Art.
            </p>
            <p>
                (3) Schadensersatzansprüche des Nutzers sind ausgeschlossen.
            </p>
            <h2>4. Verfügbarkeit und Änderung unserer Dienste</h2>
            <p>
                (1) Unsere Dienste können unterbrochen werden, beispielsweise
                für Wartungen, Reparaturen, Verbesserungen oder
                aufgrund von Netz- bzw. Geräteausfällen. Wir können einige oder
                alle unserer Dienste jederzeit einstellen, wenn möglich mit
                einer Ankündigungsfrist von 30 Tagen.
            </p>
            <p>
                (2) Wir können die Dienste verändern oder andere Dienste anbieten
                als die Dienste, die wir zum Zeitpunkt der Nutzerregistrierung
                bereitgestellt haben.
            </p>
            <h2>5. Sonstiges</h2>
            <p>
                (1) Wir behalten uns das Recht vor, künftig festzulegen,
                dass bestimmte unserer Dienste von gesonderten Bedingungen
                geregelt werden (für die Sie ggf. separat Ihre Einwilligung
                erteilen können).
            </p>
            <p>
                (2) Jede Änderung unserer Bedingungen bzw. der Verzicht darauf
                bedarf unserer ausdrücklichen Zustimmung.
            </p>
            <p>
                (3) Sie haben das Recht, Ihre Beziehung zu uns jederzeit durch
                Löschen Ihres Accounts zu beenden.
            </p>
            <p>
                (4) Das Versäumnis unsererseits, irgendeine Bestimmung unserer
                Bedingungen durchzusetzen, stellt keinen Rechtsverzicht dar.
            </p>
            <p>
                (5) Wir können diese Bedingungen ändern oder aktualisieren.
                Wir werden Sie mit einer Frist von mindestens 30 Tagen von
                Änderungen an unseren Bedingungen in Kenntnis setzen, wodurch
                Sie die Gelegenheit erhalten, die überarbeiteten Bedingungen
                zu überprüfen, bevor Sie unsere Dienste weiterhin nutzen.
            </p>
            <p>
                (6) Sollte irgendeine Bestimmung in diesen Bedingungen für
                rechtswidrig, ungültig oder aus irgendeinem Grund als nicht
                durchsetzbar erachtet werden, so gilt diese Bestimmung als von
                unseren Bedingungen abtrennbar und beeinflusst nicht die
                Gültigkeit und Durchsetzbarkeit der übrigen Bestimmungen
                unserer Bedingungen und der übrige Teil unserer Bedingungen
                bleibt in vollem Umfang wirksam und in Kraft.
            </p>
        </div>
        <div id="privacy" class="page-header">
            <h1>ViroCon Datenschutzrichtlinie</h1>
        </div>
        <div class = left-align-div>
            <p>
                <small>Letzte Änderung: 3. Juni 2018</small>
            </p>
            <p>
                Wir sammeln Daten für wissenschaftliche Zwecke und
                um das Nutzerverhalten zu analyiseren.
                Dabei orientieren wir uns beim Datenschutz an den allgemeinen
                Richtlinien der Universität Bremen (
                <a href="https://www.uni-bremen.de/datenschutz.html" class="textlink">
                    https://www.uni-bremen.de/datenschutz.html
                </a>
                   ).
            </p>
        </div>
    </div>
{% endblock content %}
