{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Contour results</h1>
    </div>
    <br>
    <div style="text-align:center">
        <div id="mygraph" class="img-responsive"></div>
    </div>
    {% if warn != 'None' %}
        <div>
        {% for w in warn %}
            <span class="text-danger">{{ w.message }}</span>
        {% endfor %}
        </div>
    {% endif %}
    <div class="col-md-3">
    </div>
    {% if dim > 2 %}
        <div class="col-md-2">
            {% if dim == 3 %}
                <button type="button"
                        class="btn btn-default"
                        id="btn-interactive-visualization">
                    Interactive 3D Contour
                </button>
            {% elif dim == 4 %}
                <button type="button" class="btn btn-default">
                    Interactive 4D Contour
                </button>
            {% endif %}
        </div>
    {% endif %}
    {% if dim > 2 %}
        <div class="col-md-2">
    {%  else %}
        <div class="col-md-3">
    {% endif %}
        <button type="button"
                class="btn btn-default"
                onclick="location='{{   object.latex_report.url  }}'">
            Download report
        </button>
    </div>
    {% if dim > 2 %}
        <div class="col-md-2">
    {%  else %}
        <div class="col-md-3">
    {% endif %}
        <button type="button"
                class="btn btn-default"
                onclick="location='{{   object.design_conditions_csv.url  }}'">
            Download design conditions
        </button>
    </div>
    <div class="col-md-3">

    </div>

    <br>
    <br>

    <object class="contour-pdf"
            data="{{ object.latex_report.url }}"
            type="application/pdf" style="width:80%;height:80%">
    </object>
    <script type="text/javascript">
        dim_data_set = {{ dim }};
        if (dim_data_set == 3) {
            document.getElementById("btn-interactive-visualization")
                .addEventListener("click", drawVisualization3D, false);
        }
        if (dim_data_set == 4) {
            console.log('is 4')
            document.getElementById("btn-interactive-visualization")
                .addEventListener("click", drawVisualization4D, false);
        }

        var data = null;
        var graph = null;

        var col1 = (("{{ x|safe}}").replace(/&(l|g|quo)t;/g, function (a, b) {
            return {
                l: '<',
                g: '>',
                quo: '"'
            }[b];
        }));

        col1 = col1.replace(/u'/g, '\'')
        col1 = col1.replace(/'/g, '\"')

        x_data = JSON.parse(col1);

        var col2 = (("{{ y|safe}}").replace(/&(l|g|quo)t;/g, function (a, b) {
            return {
                l: '<',
                g: '>',
                quo: '"'
            }[b];
        }));

        col2 = col2.replace(/u'/g, '\'')
        col2 = col2.replace(/'/g, '\"')

        y_data = JSON.parse(col2);

        var col3 = (("{{ z|safe}}").replace(/&(l|g|quo)t;/g, function (a, b) {
            return {
                l: '<',
                g: '>',
                quo: '"'
            }[b];
        }));

        col3 = col3.replace(/u'/g, '\'')
        col3 = col3.replace(/'/g, '\"')

        z_data = JSON.parse(col3);

        var col4 = (("{{ u|safe}}").replace(/&(l|g|quo)t;/g, function (a, b) {
            return {
                l: '<',
                g: '>',
                quo: '"'
            }[b];
        }));

        col4 = col4.replace(/u'/g, '\'')
        col4 = col4.replace(/'/g, '\"')

        u_data = JSON.parse(col4);

        function onclick(point) {
            console.log(point);
        }

        // Called when the Visualization API is loaded.
        function drawVisualization4D() {
            // Create the data table.
            data = new vis.DataSet();

            // Create the animation data
            var imax = x_data.length;
            for (var i = 0; i < imax; i++) {
                var x = x_data[i];
                var y = y_data[i];
                var z = z_data[i];
                var style = u_data[i];

                data.add({x: x, y: y, z: z, style: style});
            }

            // Specify options
            var options = {
                width: '600px',
                height: '600px',
                style: 'dot-color',
                showPerspective: true,
                showGrid: true,
                showXAxis: true,
                showYAxis: true,
                showZAxis: true,
                tooltip: true,
                showAnimationControls: true,
                keepAspectRatio: true,
                verticalRatio: 1.0,
                onclick: onclick,
                cameraPosition: {
                    horizontal: -0.35,
                    vertical: 0.22,
                    distance: 1.8
                },
                dotSizeRatio: 0.005,
                xLabel: "{{ labels.0|safe }}",
                yLabel: "{{ labels.1|safe }}",
                zLabel: "{{ labels.2|safe }}",
                legendLabel: "{{ labels.3|safe }}"
            };

            // Create our graph
            var container = document.getElementById('mygraph');
            graph = new vis.Graph3d(container, data, options);
        }

        // Called when the Visualization API is loaded.
        function drawVisualization3D() {
            // Create the data table
            data = new vis.DataSet();

            // Create the animation data
            var imax = x_data.length;
            for (var i = 0; i < imax; i++) {
                var x = x_data[i];
                var y = y_data[i];
                var z = z_data[i];
                var style = '#5487FF';

                data.add({x: x, y: y, z: z, style: style});
            }

            // Specify options
            var options = {
                width: '600px',
                height: '600px',
                style: 'dot-color',
                showPerspective: true,
                showGrid: true,
                showXAxis: true,
                showYAxis: true,
                showZAxis: true,
                tooltip: true,
                showAnimationControls: true,
                keepAspectRatio: true,
                verticalRatio: 1.0,
                onclick: onclick,
                cameraPosition: {
                    horizontal: -0.35,
                    vertical: 0.22,
                    distance: 1.8
                },
                dotSizeRatio: 0.005,
                xLabel: "{{ labels.0|safe }}",
                yLabel: "{{ labels.1|safe }}",
                zLabel: "{{ labels.2|safe }}"
            };

            // Create our graph
            var container = document.getElementById('mygraph');
            graph = new vis.Graph3d(container, data, options);
        }
    </script>
{% endblock content %}