{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
    <h1>{{ header }}</h1>
    </div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Error</h3>
            </div>
            <br>
            <p class="bg-danger">
                {{ error_message }} <br>
                {{ text }}
            </p>
            <a href="{% url return_url %}">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
            <br>
            <br>
        </div>
    </form>
{% endblock content %}
