{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1> Add measurement file</h1>
    </div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>
            <div class="panel-body">
                {% for x in form %}
                    <div class="form-group CreateDataText">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2"> {{ x.label_tag }}</div>
                            {% if x.label == 'Measurement file' %}
                                <div class="col-md-4">
                                    <label class="btn btn-default btn-file"> Browse... {{ x }}</label>
                                </div>
                            {% else %}
                                <div class="col-md-4"> {{ x }} </div>
                            {% endif %}
                            <div class="col-md-3"><span class="text-danger small">{{ x.errors }}</span></div>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
                <hr>
                <h2>Required file structure</h2>
                <div align="center">
                    <img src="{% static 'images/example_csv.png' %}"
                         class="img-responsive">
                </div>
                <div class="img-caption">
                    Example showing the required file structure if two
                    environmental variables are used.
                    The first row represents the header. It is interpreted as
                    "variable name 1",
                    "variable symbol 1", "variable name 2" and
                    "variable symbol 2". All following rows contain the
                    numerical values of the variables, each row represents
                    one time step.
                    The first column is associated with variable 1, the second
                    columne is associated with variable 2. All values must be
                    seperated by semicolons.
                </div>
                <button type="button"
                        class="btn btn-default"
                        onclick="location='{% static 'data/1yeardata_vanem2012pdf_withHeader.csv'  %}'">
                    Download example file
                </button>
            </div>
        </div>
    </form>
{% endblock content %}