{% extends "../base.html" %}
{% load static %}
{% block content %}
    User
    <div class="page-header"></div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Register</h3>
            </div>
            {% for field in form %}
                <div class="panel-body">
                    <div class="form-group CreateDataText">
                        <div class="col-md-2"></div>
                        <div class="col-md-2"> {{ field.label_tag }}</div>
                        <div class="col-md-4"> {{ field }}</div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3"><span class="text-danger small">{{ field.errors }}</span></div>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <button type="Submit" class="btn btn-primary">submit</button>
            </div>
        </div>
    </form>
{% endblock content %}
