{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Profile</h1>
    </div>
    <br>
    <form class="form-horizontal"
          action=""
          method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edit</h3>
            </div>
            <div class="panel-body">
                <div class="text-danger small">
                    {{ form.non_field_errors }}
                </div>
                {% for item in form %}
                    <div class="row">
                        <div class="col-sm-3">
                            {{ item.label_tag }}
                        </div>
                        <div class="col-sm-4">
                            {{ item }}
                        </div>
                         <div class="col-sm-3 small">
                             {{ item.help_text|safe }}
                         </div>
                        <div class="col-sm-2 text-danger small">
                            {{ item.errors }}
                        </div>
                    </div>
                    <br>
                {% endfor %}
                <div class="row">
                    <div class="form-check terms-form-check">
                      <input class="form-check-input terms-checkbox"
                             type="checkbox" value=""
                             id="defaultCheck1",
                             onchange="document.getElementById(
                                 'register-user-button').disabled = !this.checked;">
                      <label class="form-check-label terms-label"
                             for="defaultCheck1">
                        I have read the
                          <a href="{% url 'info:imprint' %}#data-protection"
                             class="textlink">
                          notice on data protection
                          </a>
                          and the content of the
                          <a href="{% url 'info:imprint' %}#AGB"
                             class="textlink">
                              Standard Terms of Business
                          </a>
                          and agree to the storage of my personal data.
                      </label>
                    </div>
                </div>
                <br>
                <button id="register-user-button"
                        class="btn btn-success"
                        disabled>
                    Submit
                </button>
            </div>
        </div>
    </form>
{% endblock content %}