{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Profile</h1>
    </div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Overview</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">User name:</div>
                    <div class="col-sm-4">{{ user }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">First name:</div>
                    <div class="col-sm-4">{{ user.first_name }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">Last name:</div>
                    <div class="col-sm-4">{{ user.last_name }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">Email:</div>
                    <div class="col-sm-4">{{ user.email }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">Organisation:</div>
                    <div class="col-sm-4">{{ user.organisation }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">Type of use:</div>
                    <div class="col-sm-4">{{ user.type_of_use }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">Used storage space:</div>
                    <div class="col-sm-4">{{ storage_space }}</div>
                    <div class="col-sm-2"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><a href="{% url 'user:edit' %}">
                        <button type="button" class="btn btn-default">Edit profile</button>
                    </a></div>
                    <div class="col-sm-4">
                        <a href="{% url 'user:change-password' %}">
                            <button type="button" class="btn btn-default ">Change password</button>
                        </a></div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}