{% extends "../base.html" %}
{% load static %}
{% block content %}
    Edit profile
    <div class="page-header"></div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your data</h3>
            </div>
            {{ form.as_p }}
            <button class="btn btn-default">Submit</button>
            <br>
            <br>
        </div>
    </form>
{% endblock content %}