{% extends "../base.html"%}
{% load static %}
{% block content %}
    Accounting
    <div class="page-header"></div>
    <br>

<div class="container fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">

                    {{error}}
                    <h3>Login</h3>
                    <form class="form-horizontal" action='' method="post">{%csrf_token%}
                        {{ form.as_p }}

                        {{ form.fieldname.errors }}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary">Login</button>
                                 <a href="{% url 'user:register' %}" class="btn btn-default">Register</a>
                                 <a href="{% url 'user:reset_password' %}" class="btn btn-default">Forgot password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}