<!DOCTYPE html>
<html lang="en">
<body>
<td>
    <form action="{% url update object.pk %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-sm ">
            <span class="glyphicon glyphicon-link"></span>
        </button>
    </form>
</td>
<td>
    <form action="{% url delete object.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-sm ">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
</td>
</body>
</html>