<!--HTML-Seite um CSV-Dateien der MeasureFile Datenbank hinzuzufügen -->
{% extends "../base.html" %}
{% load static %}
{% block content %}
    scatter plot
    <div class="page-header"></div>
    <img src=" {{static}}/static/{{user}}/scatter.png"
         class="img-fluid" alt="scatter plot">
    <br>
    <a class="btn btn-success" href="{% url 'enviro:measurefiles-fit' measure_file_model.pk %}">fit probabilistic model</a>
    <a class="btn btn-default" href="{% url 'home:home' %}">go to methods overview</a>
{% endblock content %}
