{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1>Measurement file</h1>
    </div>
    <br>
    <img src="{% static directory %}/scatter.png"
         class="img-fluid" alt="scatter plot">
    <br>
    <br>
    <form action="{% url 'enviro:measure_file_model_fit' measure_file_model.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            Fit probabilistic model
        </button>
    </form>
{% endblock content %}
