{% extends "../base.html" %}
{% load static %}
{% block content %}
    Fit probabilistic model to measurement file
    <div class="page-header"></div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Distributions</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-4">Normal Distribution
                <img class="img-responsive" src="{% static 'images/example_normal.svg' %}">
            </div>
            <div class="col-sm-4">Weibull Distribution
                <img class="img-responsive" src="{% static 'images/example_weibull.svg' %}">
            </div>
            <div class="col-sm-4">Logarithmic Normal Distribution
                <img class="img-responsive" src="{% static 'images/example_lognormal.svg' %}">
            </div>
        </div>
        <div class="panel-heading">
            <h3 class="panel-title">Dependencies function</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h4>Exponential</h4>
                <img src="{% static 'images/Exponential_PDF.png' %}" height="17">
            </div>
            <div class="col-sm-4">
                <h4>Power function</h4>
                <img src="{% static 'images/Polynomial_PDF.png' %}" height="17">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <br>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Probabilistic model</h3>
            </div>
            {% for x in form %}
                {% if x.name.0 == '_' %}
                    <div class="panel-heading">
                        <div style="display: none">{{ x }}</div>
                        <h3 class="panel-title">{{ x.label_tag }}</h3>
                    </div>

                {% else %}
                    <div class="panel-body">
                        <div class="form-group CreateDataText">
                        <div class="col-sm-2">{{ x.help_text }}</div>
                        <label class="col-sm-3"
                               id={{ x.html_initial_id }} for="{{ x.id_for_label }}">{{ x.label_tag }}</label>
                        <div class="col-sm-4"> {{ x }}</div>
                        <div class="col-sm-3"><span class="text-danger small">{{ x.errors }}</span></div>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <a><font color="gray">Please consider that the calculation may take a few minutes!</font></a>
                <br>
                <button type="submit" class="btn btn-primary">fit</button>
            </div>
        </div>
    </form>

    <!--Le JavaScript-->
    <script>
        function dist_select(dist_id, var_number) {
            if (document.getElementById(dist_id).value === 'Lognormal_2') {
                document.getElementById('loc_'.concat(var_number)).style.display = 'none';
                document.getElementById('shape_'.concat(var_number)).style.display = 'block';
                document.getElementById('initial-id_shape_dependency_'.concat(var_number)).innerHTML = '&sigma; (sigma) dependency';
                document.getElementById('initial-id_scale_dependency_'.concat(var_number)).innerHTML = '&mu; (mu) dependency';
                document.getElementById('initial-id_location_dependency_'.concat(var_number)).innerHTML = '';
            }
            else if (document.getElementById(dist_id).value === 'Normal') {
                document.getElementById('shape_'.concat(var_number)).style.display = 'none';
                document.getElementById('loc_'.concat(var_number)).style.display = 'block';
                document.getElementById('initial-id_shape_dependency_'.concat(var_number)).innerHTML = '';
                document.getElementById('initial-id_location_dependency_'.concat(var_number)).innerHTML = ' &mu; (location) dependency';
                document.getElementById('initial-id_scale_dependency_'.concat(var_number)).innerHTML = '&sigma; (scale) dependency';
            }
            else {
                document.getElementById('loc_'.concat(var_number)).style.display = 'block';
                document.getElementById('shape_'.concat(var_number)).style.display = 'block';
                document.getElementById('initial-id_shape_dependency_'.concat(var_number)).innerHTML = 'k (shape) dependency';
                document.getElementById('initial-id_scale_dependency_'.concat(var_number)).innerHTML = '&lambda; (scale) dependency';
                document.getElementById('initial-id_location_dependency_'.concat(var_number)).innerHTML = '&theta; (location) dependency';
            }
        }

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        $(document).ready(function () {
            /* Hier der jQuery-Code */
            $('#help-einausblenden').click(function () {
                $('#helpPanel').toggle('slow');
                return false;
            })
        });

    </script>

{% endblock content %}
