{% extends "../base.html" %}
{% load static %}
{% load latexify %}
{% block content %}
    probabilistic model
    <div class="page-header"></div>
    <div class="container-fluid probabilstic-model-show">
        <h1>{{probabilistic_model.collection_name}}</h1>
        <h2>Probability density function</h2>
        {% for latex_string in latex_string_list %}
            <p class="density-function-latex">
                {% latexify latex_string math_inline=True %}
            </p>
        {% endfor %}
        {% if probabilistic_model.measure_file_model %}
            <h2>Associated measurement file</h2>
            <p>
                file: '{{ probabilistic_model.measure_file_model.title }}'
            </p>
            {% if directory_measure_plot_after_prefix  %}
                <p>
                    <button class="btn btn-default" data-toggle="collapse" data-target="#measure-file-plot">show plot</button>
                    <div id="measure-file-plot" class="collapse">
                        <img src="{% static directory_measure_plot_after_prefix %}" class="img-responsive center-block">
                    </div>
                </p>
            {% endif %}
            {%  if imgs %}
                <h2>Evaluation of the fit</h2>
                <button class="btn btn-default" data-toggle="collapse" data-target="#fit-images">show fits</button>
                <div id="fit-images" class="collapse">
                    {% for img in imgs %}
                        <img src="{% static img %}" class="img-responsive center-block">
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
        <h2>Environmental contour</h2>
        <p>
            compute an environmental contour:
            <a class="btn btn-primary" href="{% url 'enviro:probabilistic_model_calc' probabilistic_model.pk 'I' %}">IFORM</a>
            <a class="btn btn-primary" href="{% url 'enviro:probabilistic_model_calc' probabilistic_model.pk 'H' %}">HDC</a>
        </p>
    </div>
    {% include "latexify/scripts.html" %}
{% endblock content %}