{% extends "../base.html" %}
{% load static %}
{% block content %}
    probabilistic model
    <div class="page-header"></div>
    <h2>{{probabilistic_model.collection_name}}</h2>
    <h3>Probability density function</h3>
    <p>
        {{ pdf_latex_string }}
    </p>
    {% if probabilistic_model.measure_file_model %}
        <h3>Associated measurement file</h3>
        file: {{ probabilistic_model.measure_file_model.title }}
        <a class="btn btn-default" href="{% url 'enviro:measurefiles-plot' probabilistic_model.measure_file_model.pk %}">
            plot
        </a>
    {% endif %}
    <h3>Environmental contour</h3>
    <p>
        compute an environmental contour:
        <a class="btn btn-primary" href="{% url 'enviro:probabilistic_model-calc' probabilistic_model.pk 'I' %}">IFORM</a>
    <a class="btn btn-primary" href="{% url 'enviro:probabilistic_model-calc' probabilistic_model.pk 'H' %}">HDC</a>
    </p>
{% endblock content %}