{% extends "../base.html" %}
{% load static %}
{% block content %}
    Add secondary user
    <div class="page-header" xmlns="http://www.w3.org/1999/html"></div>
    <br>
    <div class="panel-body"></div>
    <form action="" , method="post" , type="text">{% csrf_token %}
        <div class="form-group">
            <label for="secUser">Username:</label>
            <input id="secUser" size="" placeholder="Username" name="username">
        </div>
        <input type="submit", class="btn btn-primary", value="submit"/>
    </form>
{% endblock content %}