/*----- General -----*/
body {
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;

    background-color: #eff5f6;

    color: #343b3e !important;
    font-family: 'Rajdhani', sans-serif;
}
a {
    color: #343b3e !important;
}

a:hover {
    text-decoration: none
}

.textlink {
    color: #21467a !important;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: underline;
}

.textlink:hover {
    color:#b61231 !important;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    color: #343b3e !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: black !important;
}



/*----- Navigation bar -----*/

.navbar {
    background-color: #54889c;
    min-height: 35px !important;
    padding-top: 5px;
    /*background-color: rgba( 25,128,153,1); */
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #456878;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    height: 35px;
    font-size: 15px;
}

/*----- Footer -----*/

.navbar-inverse .navbar-nav > li > a:hover {
    color: #343b3e;
}

.navbar-inverse {
    background-color: #feffff;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 150px;
    border-width: 0px;
    border-radius: 0px;
    border-top-width: 0px;
    border-color: #343b3e;
    height: 50px;
    box-shadow: 0px 0px 2px 0px #999;
}

.navbar-inverse .navbar-nav > li > a {
    padding-top: 4px !important;
    padding-bottom: 0 !important;
    color: black;
    font-family: 'Rajdhani', sans-serif;
}

/*----- Navigation bar & footer -----*/
.rechts, .virocon-main-nav {
    float: right;
    margin-right: 70px;
}

.links {
    float: left;
    margin-left: 70px;
}

@media (max-width: 767px) {
    .virocon-main-nav{
        float: left;
        margin-right: 0px;
        padding-left: 15px;
    }
    .links {
        margin-left: 15px;
    }
}

/*----- Django messages -----*/
.debug {

}

.messages > li {
    list-style-type: none;
}

.info {
    background-color: #d9edf7;
}

.success {
    background-color: #dff0d8;
}

.warning {
    background-color: #fcf8e3;
}
.error {
    background-color: #f2dede;
}
/*----- Bootstrap -----*/
.page-header {
    margin-top: 0px;
}

.jumbotron {
    background-color: #feffff;
    border-radius: 1px 1px 1px 1px !important;

    box-shadow: 0px 0px 2px 0px #999;

    text-align: center;
    font-size: 20px;

    min-height: 900px;
}

.panel-default {
    margin-bottom: 0;
}

.back {
    background-color: #54889c;
    padding-left: 0px;
    margin-left: 0px;
}

/*----------- Images ------------*/
.logo_mobile {
    height: 45px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 6px;
}

.logo_desktop {
    height: 35px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 6px;
}

.unilogo {
    margin-top: 0px;
    padding-top: 0px;
    width: 35px;

}

.start_img {
    width: 280px;

}

.image-bar {
    width: 60%;
    z-index: 2;
}

.flow-chart-image {
    position: relative;
}

.flow-chart-image > p {
    position: absolute;
    top: 14%;
    left: 0;
    width: 100%;
    margin: 0px
}

.overlap {
    z-index: 1;
}

.image-bar-angle {
    width: 60%;
}

/*------ Appbox ------*/
.app_box {
    background-color: #feffff;
    border-radius: 1px 1px 1px 1px !important;
    padding: 0px;
    font-size: 30px;
    height: 60px;
}

.greyed_out {
    background-color: #78828e !important;
    border-style: dashed;
    border-width: 2px;
}

.app_symbol {
    background-color: #54889c;
    box-shadow: 0px 0px 2px 0px #999;

    float: left;
    padding-right: 20px;
    padding-left: 15px;
    padding-top: 15px;
    height: 60px;
}

.app_icon {
    float: left;

}

.app_info {
    float: right;

}

.small_text {
    font-size: 18px;
}

.knopf {
    float: right;

}

.CreateDataText {
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.klasse {
    font-family: 'Rajdhani', sans-serif !important;
    font-size: 16px;
    font-weight: 100;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

/*----- Forms -----*/
.dependency {
    background-color: red !important;
    font-size: 80px !important;
}

#id_measure_file {
    display: none;
}

.btn-primary {
    background-color: #5cb85c;
    border-color: #4cae4c;

}

.btn-primary:hover {
    background-color: #449d44;
    border-color: #398439;
}

.panel-work-step {
    border-color: #1A1A1A;
    border-width: 2px;
    background-color: white;
}

.panel-work-step > .panel-heading {
    background-color: #c1d7e9 !important;
}

.panel-overview {
    border-color: #1A1A1A;
    border-width: 2px;
    background-color: white;
}

.panel-overview > .panel-heading {
}

.probabilstic-model-show {
    text-align: left;
}

.density-function-latex {
    font-size: 16px;
}

.form-group > .col-sm-4 > select, .form-group > .col-sm-4 > input {
    display: block;
    width: 100%;
    max-width: 300px;
}

.input-additional-info {
    font-size: 14px;
    text-align: left;
    padding-left: 6px;
}

@media (max-width: 767px) {
    .input-additional-info {
        padding-top: 6px;
        padding-left: 15px;
    }
}

.contour-pdf, .user-guide {
    width: 100%;
    min-height: 800px;
}

.user-guide-container {
    margin-top:24pt;
    margin-bottom:24pt
}

.contour_input_field {
    width: 180px
}