{% extends "../base.html"%}
{% load static %}
{% block content %}
Help
<div class="page-header"></div>
<br>
<p>
    ViroCon helps you to design marine structures which need to withstand load combinations based on wave,
    wind and current. It lets you identify extreme environmental conditions with a defined return period using the
    environmental contour method.
</p>
<p>
    Two specific environmental contour methods are available: The Highest Density Contour (HDC) method [1] and the
    Inverse First Order Reliability Method (IFORM) [2]. The environment can be described with a probability density
    function based on the so-called Conditional Modeling Approach [3]. ViroCon's methods align with
    current recommended practices dealing with environmental conditions and environmental loads [3].
</p>
<p>
    The arrows at the home site guide you through the work process of deriving an environmental contour.
    Measurement files and probalistic models can be saved online and are associated with your profile.
</p>
<p>
</p>
<div class="user-guide-container">
    <object class="user-guide" data="{% static 'virocon_userguide.pdf' %}" type="application/pdf" style="width:80%;height:80%">
    </object>
</div>
<p>
    Still questions? Contact <a href="mailto:a.haselsteiner@unibremen.de" class="textlink">Andreas.</a>
</p>
<div align="left">
    <h3>References</h3>
   <p>
       <a href="https://doi.org/10.1016/j.coastaleng.2017.03.002" class="textlink">
           [1] A.F. Haselsteiner, J.-H. Ohlendorf, W. Wosniok, K.-D. Thoben (2017): Deriving environmental contours
           from highest density regions, Coastal Engineering 123, 42-51.
       </a>
       <br>
       [2] S. Winterstein, T. Ude, C. Cornell, P. Bjerager, S. Haver (1993): Environmental parameters for extreme
       response: inverse FORM with omission factors, in: Proceedings, ICOSSAR-93. Innsbruck, Austria, 1993.
       <br>
       <a href="https://rules.dnvgl.com/docs/pdf/dnv/codes/docs/2010-10/rp-c205.pdf" class="textlink">
           [3] Det Norske Veritas (2010): Recommended practice - DNV-RP-C205 Environmental conditions and
           environmental loads. Technical report.
       </a>
    </p>
</div>
{% endblock content %}