{% extends "../base.html"%}
{% load static %}
{% block content %}
    Impressum
    <div class="page-header"></div>
    <br>
    <h1>Impressum</h1>

    Anbieter dieser Internet-Seite ist im Rechtssinn<br />
    das </b><a href='http://www.bik.uni-bremen.de//' rel="nofollow">
        <b>Institut für integrierte Produktentwicklung (BIK)</b></a>
    <br />der
    <a href='http://www.uni-bremen.de/' rel="nofollow">
        <b>Universität Bremen</b></a>
    , vertreten durch:<br /><br />

    Andreas Haselsteiner<br />
    E-Mail-Adresse: a.haselsteiner@uni-bremen.de<br /><br />

    Die Universität Bremen ist eine Körperschaft des Öffentlichen Rechts. <br />
    Sie wird durch den Rektor Prof. Dr.-Ing. Bernd ScholzReiter gesetzlich vertreten.<br />

    Zuständige Aufsichtsbehörde ist die Senatorin für Bildung und Wissenschaft,<br />
    Rembertiring 8 – 12, 28195 Bremen.<br />
    UmsatzsteuerIdentifikationsnummer gemäß § 27 a UStG Umsatzsteuer-Nr.: DE 811 245 070<br /><br />

    Badgasteinerstr. 1<br />
    28359 Bremen<br />
    E-Mail: virocon@uni-bremen.de<br />


{% endblock content %}