{% extends "../base.html"%}
{% load static %}
{% block content %}
    Impressum
    <div class="page-header"></div>
    <br>
    <h1>Impressum</h1>

    Anbieter dieser Internet-Seite ist im Rechtssinn<br />
    das </b><a href='http://www.bik.uni-bremen.de//' rel="nofollow">
        <b>Institut für integrierte Produktentwicklung (BIK)</b></a><br />der
    <a href='http://www.uni-bremen.de/' rel="nofollow"><b>Universität Bremen</b></a>
    vertreten durch:<br />
    <br />
    Andreas Haselsteiner<br />
    <a href="mailto:a.haselsteiner@uni-bremen.de">a.haselsteiner@uni-bremen.de</a><br />
    <br />
    Die Universität Bremen ist eine Körperschaft des Öffentlichen Rechts. <br />
    Sie wird durch den Rektor Prof. Dr.-Ing. Bernd Scholz-Reiter gesetzlich vertreten.<br />
    <br />
    Zuständige Aufsichtsbehörde ist die Senatorin für Bildung und Wissenschaft,<br />
    Rembertiring 8 – 12, 28195 Bremen. UmsatzsteuerIdentifikationsnummer gemäß § 27 a UStG<br />
    Umsatzsteuer-Nr.: DE 811 245 070<br />
    <br />
    <h2>Postanschrift</h2>
    BIK Institut für integrierte Produktentwicklung<br />
    Badgasteinerstr. 1<br />
    28359 Bremen<br />
    <a href="mailto:virocon@uni-bremen.de">virocon@uni-bremen.de</a><br />
    <br/>
    <h2>Haftungsausschluss</h2>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung
    für die Inhalte externer Links.<br />
    Für den Inhalt der verlinkten Seiten sind ausschließlich
    deren Betreiber verantwortlich.

{% endblock content %}